DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_LOG_WEBHOOK_URL=

LAVALINK_IDENTIFIER=Mahiro
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=
LAVALINK_SECURE=false
LAVALINK_SEARCH_PREFIX=ytsearch:

EMBED_COLOR_NORMAL=#b2d1bd
EMBED_COLOR_ERROR=#ff3333
DEFAULT_VOLUME=50
LOG_PREFIX=NM
LOG_LEVEL=info

DATABASE_URL=

KOREANBOTS_TOKEN=
KOREANBOTS_CLIENT_ID=
KOREANBOTS_UPDATE_INTERVAL=600000

PRESENCE_UPDATE_INTERVAL_MS=10000
PRESENCE_INITIAL_MESSAGE="NM | 초기화 중.."
PRESENCE_MESSAGES=["NM | {guilds}개의 서버에서 활동 중!","/chart 명령어로 NM 음악 차트를 확인해 보세요!","/favorites 명령어가 추가되었어요!","NM | {players}개의 서버에서 음악 재생 중!"]
