services:
  lavalink:
    image: ghcr.io/lavalink-devs/lavalink:4-alpine
    container_name: lavalink
    restart: unless-stopped
    environment:
      - _JAVA_OPTIONS=-Xmx2G
    volumes:
      - ./lavalink/application.yml:/opt/Lavalink/application.yml
      - ./lavalink/plugins/:/opt/Lavalink/plugins/
    networks:
      - nm
    ports:
      - '2333:2333'
    healthcheck:
      test: nc -z -v localhost 2333
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - ejs-api
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  ejs-api:
    image: ghcr.io/kikkia/yt-cipher:master
    container_name: ejs_signature_api
    restart: unless-stopped
    networks:
      - nm
    ports:
      - '8001:8001'
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

  nm:
    build: .
    image: ghcr.io/ny0510/nm:latest
    container_name: nm
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    networks:
      - nm
    depends_on:
      lavalink:
        condition: service_healthy
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
    deploy:
      resources:
        limits:
          memory: 1G
          cpus: '1.0'

networks:
  nm:
